<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs"); %>
    <title>Register</title>
  </head>
  <body>
    <h1>Auth tokens Test</h1>
    <%- include('../partials/register.ejs') %>
  </body>
  <script src="../public/JS/index.js"></script>
</html>
