<form  id="registerform">
    <h1>ReGister</h1>
  <div>
    <label for="rname">Name</label>
    <input type="text" name="name" id="rname" />
  </div>
  <div>
    <label for="remail">ID</label>
    <input type="email" name="email" id="remail" />
  </div>
  <div>
    <label for="rpassword">Password</label>
    <input type="password" name="password" id="rpassword" />
  </div>
  <div>
    <input type="submit" id="rsubmit" />
  </div>
      <a href="login">Has Account?</a>
</form>
