<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <title>Home</title>
</head>
<body>
    <div class="home">
    <h1>Welcome HOME!! <%= user %> </h1>
    <button id="logout">LOGOUT</button>
  </div>    
</body>
<script src="../public/JS/home.js"></script>

</html>